* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.bg-image {
  background-image: url("images/donation6.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.img-text h1 {
  color: white;
  text-align: center;
  padding-top: 15%;
  font-size: 65px;
}
.img-text p {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}
.link-button {
  text-decoration: none;
  padding: 10px 25px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}
.link-donate {
  padding-top: 4%;
  margin-left: 45%;
}
.amount-area {
  padding-top: 7%;
}
.amount-area h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.amount-area p {
  text-align: center;
  padding-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 28px;
  font-size: 18px;
}
.box {
  float: left;
  padding: 5px;
  padding-top: 2%;
}
.float-child button {
  background-color: #fafafa;
  width: 135px;
  height: 123px;
  border: none;
  font-size: 30px;
  color: #707070;
}
#amount-color {
  background-color: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
  border-radius: 5px;
}
.donate-box {
  margin-left: 30%;
  padding-top: 2%;
}
.form form {
  padding-top: 25%;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid #dadada;
  margin-left: 30%;
  width: 46%;
}
input.placeholder {
  text-align: center;
  padding-bottom: 1%;
  font-size: 16px;
}
.submit-button {
  border: none;
  padding: 16px 12px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 45%;
  margin-top: 15px;
}
.donate-section {
  margin-left: 20%;
  margin-right: 20%;
}
.donate-plan h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.donate-plan p {
  text-align: center;
  padding-top: 2%;
  font-size: 18px;
  line-height: 28px;
}
.donate-plan {
  margin-left: 20%;
  margin-right: 20%;
}
.food-plan {
  float: left;
  padding: 10px;
  padding-top: 5%;
}
.food-plan img {
  width: 100px;
  padding-top: 15%;
  padding-left: 5%;
}
.food-plan h2 {
  top: 10%;
  position: relative;
  padding-left: 5%;
}
.food-plan p {
  top: 15%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
  line-height: 24px;
}
.family-child {
  width: 360px;
  height: 352px;
  background-color: rgba(79, 157, 166, 0.1);
}
.shelter-child {
  width: 360px;
  height: 352px;
  background-color: rgba(255, 89, 89, 0.1);
}
.education-child {
  width: 360px;
  height: 352px;
  background-color: rgba(255, 244, 214, 1);
}
.latest-donate {
  padding-top: 26%;
}
.person-section {
  margin-left: 20%;  
}
.person-name {
  float: left;
  padding: 10px;
  padding-top: 5%;
}
.person-name img {
  width: 120px;
  padding-top: 2%;
  padding-left: 35%;
}
.person-child {
  width: 350px;
  height: 300px;
  background-color: rgb(178, 184, 185);
  border-radius: 10px;
}
.person-name h3 {
  text-align: center;
  padding-top: 7%;
}
.person-name p {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.person-name span {
  color: #14647c;
  font-size: 24px;
  font-weight: bold;
}
.person-name a {
  text-decoration: none;
  padding-left: 30%;
  color: #378d14;
}

.update-area {
  padding-top: 25%;
}
.update-area h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.update-area p {
  text-align: center;
  padding-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 28px;
  font-size: 18px;
}
.form {
  padding-top: 2%;
  padding-bottom: 7%;
  margin-left: 30%;
  margin-right: 30%;
}
.update-form {
  background-color: rgba(255, 244, 214, 1);
  padding: 25px;
  width: 809px;
  height: 90px;
}
.update-form form {
  padding-top: 3%;
}
input[type="email"] {
  margin-left: 30%;
  padding: 10px 18px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px 0 0 5px;
}
input[type="submit"] {
  left: -5px;
  position: relative;
  border: none;
  padding: 10px 18px;
  background-color: tomato;
  border-radius: 0 5px 5px 0;
  color: white;
}
footer {
  background-color: #0b0d17;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer h2 {
  font-size: 36px;
  text-align: center;
  color: #ff5959;
  padding-top: 2%;
}
footer p {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 55px;
  padding-bottom: 0.6%;
}
